html {
    margin: 0;
}
body {
    margin: 0;
}
nav {
    position: fixed;
    width: 1440px;
    height: 68px;
    margin: 0;
    background-color: rgba(38, 47, 58, 0.97);
    top: 0;
}
h1 {
    color: #ffffff;
    margin-left: 64px;
}
#tableList {
    font-size: 20px;
    width: 1312px;
    position: fixed;
    top: 107px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
    border: none;
}
tr, td {
    border-bottom: solid #cecece 1px;
    color: #333333;
    height: 50px;
}
.informationGroup {
    font-size: 12px;
    position: fixed;
    top: 88px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efefef;
    height: 600px;
    width: 800px;
}
label {
    color: #707070;
}
.firstLine {
    margin-right: 48px;
    padding: 0;
}
.specialLine1 {
    margin-right: 24px;
}

.specialLine2 {
    padding: 0;
    margin-right: 12px;
}
.first1 {
    margin-top: 14px;
    margin-bottom: 14px;
}
hr {
    background-color: #dddddd;
    height: 2px;
    border: 2px;

}
.title {
    padding-left: 20px;
    height: 40px;
    background-color: #dddddd;
}

.informationCon {
    padding-left: 20px;

}
.itemCon {
    position: fixed;
    top: 338px;
}
#pagesGroup{
    position: fixed;
    margin-left: 960px;
    bottom: 0;
    margin-top: 70px;
}
.pagination{
    float: right;
}
input {
    padding: 0;
    margin: 0;
    height: 25px;
    width: 165px;
    border: 1px;
    border-color: #cecece;
    border-radius: 3px;
    background-color: #fcfcfc;
}
h3 {
    margin: 0;
    padding-top: 15px;
}
#returnToM {
    position: fixed;
    bottom: 0;
    background-color: #000000;
    color: #c8e3d7;
}
.nameTh{
    padding-left: 48px;
    padding-right: 20px;
}
.phoneTh{
    padding-left: 48px;
    padding-right:48px;
}
.emailTh{
    padding-left: 107px;
    padding-right: 107px;
}
.schoolTh{
    padding-left: 47px;
    padding-right: 47px;
}
.cityTh{
    padding-left: 50px;
    padding-right: 50px;
}
.itemNameTh{
    padding-left: 38px;
    padding-right: 38px;
}
.directionTh{

    padding-right: 18px;
    padding-left: 18px;
}
.detailTh{
    padding-left: 18px;
    padding-right: 18px;
}
.actionTh{
    padding-left: 25px;
    padding-right: 25px;
}
.deleteTh{
    padding-left: 20px;
    padding-right: 20px;
}
img{

    height: 12px;
    width: 12px;
}
a{
    cursor: pointer;
}



