body {
    margin: 0;
    font-family: SimHei;
    padding: 0.71rem;
    background-color: #f2f2f2;
}

.container {
    background-color: #fcfcfc;
    border-radius: 0.36rem;
}

#basicInfo {
    position: relative;
    margin: 0;
    width: 100%;
    height: 15rem;
}

section {
    width: 100%;
    margin-top: 1.78rem;
    font-size: 0.75rem;
}

input {
    position: relative;
    width: 9.1rem;
    height: 1.96rem;
    line-height: 1.96rem;
    border: 0.05rem solid #D3D3D3;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    color: #786e6e;
    padding-left: 3.65rem;
    opacity: 0.87;
    filter: Alpha(opacity=87);
}

input:focus,
#proIntro:focus {
    border-color: #3bac9f;
}

label {
    position: absolute;
    top: 0.11rem;
    left: 0;
    line-height: 2.06rem;
    /*height: 2.06rem;*/
    font-size: 0.60rem;
    text-align: right;
    color: #000000;
    margin-left: 1.42rem;
}

#proMon {
    margin: 1.5rem 0 1.5rem 0;
    height: auto;
}

#proMon input {
    padding-left: 4.6rem;
    width: 8.1rem;
}

#proMon p,
#much p {
    position: absolute;
    top: 0.1rem;
    right: 1.2rem;
    height: 1.96rem;
    line-height: 2rem;
    margin: 0;
    font-size: 0.6rem;
    color: #786e6e;
}

select {
    background: #f4f4f4;
}

.title {
    position: relative;
    height: 1.2rem;
    width: auto;
    margin-left: 0.75rem;
}

.title p {
    margin: 0 0 0.71rem 0;
    padding-top: 0.89rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.8rem;
    color: #404040;
    font-weight: bold;
}

.item {
    position: relative;
    padding: 0 0.78rem 0 0.71rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

#city,
#province {
    width: 3.89rem;
    height: 1.96rem;
    border: 0.05rem solid #B8B8B8;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    color: #786e6e;
    padding-left: 0.5rem;
}


/*#province{
    margin-right: 0.1rem;
}*/

#proProfile .title p {
    margin-top: 3.5rem;
}

#province {
    margin-left: 5rem;
}

#city {
    display: none;
}

#proDir {
    float: right;
    width: 9.5rem;
    height: 1.96rem;
    border: 0.05rem solid #B8B8B8;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    color: #786e6e;
    margin: 0 0 0 0.5rem;
    padding-left: 0.5rem;
}

#projectIntro {
    position: relative;
}

#proIntro {
    position: relative;
    margin-left: 0.8rem;
    width: 11.9rem;
    height: 6rem;
    font-size: 0.6rem;
    border: 0.05rem solid #B8B8B8;
    border-radius: 0.2rem;
    padding: 1.5rem 0.53rem 0rem 0.53rem;
    margin-bottom: 0.71rem;
    opacity: 0.87;
    filter: Alpha(opacity=87);
    color: #786e6e;
}

#proIntrodution {}

p {
    font-size: 0.6rem;
    color: #000000;
    margin-left: 0.8rem;
}

.proDevelop,
.proDevelop .item {
    overflow: hidden;
}

.proDevelop p {
    margin-top: 0.59rem;
}

.proDev,
.prodev {
    border: 0.05rem solid #B8B8B8;
    border-radius: 0.2rem;
    width: 4.36rem;
    height: 1.96rem;
    line-height: 1.96rem;
    margin: 0 1.5rem 0.71rem 0.8rem;
    text-align: center;
    background: #f4f4f4;
}

.proDev {
    float: left;
    margin-right: 1rem;
}

.proDev input,
.prodev input {
    display: none;
}

span {
    font-size: 0.6rem;
}

#much {
    position: relative;
}

#much input {
    float: right;
    width: 2.8rem;
    height: 1.67rem;
    margin: 0 0.71rem 0.8rem 0.8rem;
    padding-left: 3.5rem;
}

#much label {
    top: 0;
    margin-left: 8rem;
}

#proSubmit {
    width: 14.4rem;
    margin: 0 auto 1rem auto;
}

#proSubmit input {
    width: 13rem;
}

.submitIt {
    color: #fcfcfc;
    background-image: url(../img/submit.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13.4rem;
    height: 1.96rem;
    padding: 0;
    margin-left: 0.69rem;
    border: 0;
    border-radius: 0.3rem;
}

input::-webkit-input-placeholder {
    color: #D0021B;
}

#success {
    margin: 0;
    width: 100%;
    height: auto;
}

.result {
    position: relative;
    height: 2.7rem;
    margin: 7rem auto 2rem auto;
    text-align: center;
    width: 14rem;
}

.result p {
    height: 3.5rem;
    line-height: 1.2rem;
    font-size: 0.85rem;
    margin-left: 0;
}

#fail p {
    margin-left: 0.4rem;
}

.check {
    background-color: #3bac9f;
    border-color: #3bac9f;
    color: #fcfcfc;
}

.hidden {
    display: none;
}
